
node_modules/

src/*
!src/.vuepress/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
src/.vuepress/public/docs/

tmp_docs/
*.css.map

# 分批构建专用
# 其中 batch.auto.js 为上传空模板后禁止后续修改上传
# /src/.vuepress/config/batch.auto.js
/src_before/
/src_after/
/dist_tmp/
/dist_debug/
