# 设置全局代理，如果你不需要，可以注释掉该文件

# .npmrc 文件内容
# proxy=http://proxy.example.com:8080
# https-proxy=http://proxy.example.com:8080
# registry=https://registry.npmmirror.com/

# 可使用以下命令验证:
# pnpm config get proxy
# pnpm config get https-proxy
# pnpm config get registry # 原 https://registry.npmjs.org/ 代理 https://registry.npmmirror.com/

auto-install-peers=true
strict-peer-dependencies=false
