/**
 * 宽页模式
 *
 * 旧，暂弃用
 * 1. 等什么加一个切换宽/窄屏的按钮先
 * 2. 未适配手机端
 */

#sidebar {
  padding-left: 10px !important;
}

#main-content {
  padding-left: calc(var(--sidebar-width) + 10px);
  padding-right: 50px;
  > * {
    left: 0;
    float: left;
    max-width: calc(100% - var(--sidebar-width) - 10px);
    width: 100%;
    margin-left: 0 !important;
  }
}
