#sidebar {
  padding-left: 10px !important;
}

#main-content {
  padding-left: calc(var(--sidebar-width) + 10px);
  padding-right: 50px;
  > * {
    left: 0;
    float: left;
    max-width: calc(100% - var(--sidebar-width) - 10px);
    width: 100%;
    margin-left: 0 !important;
  }
}
